<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>Ooops!! we are under attack! our satellites are being used to defeat the rebels.</h3>
                    <h4>Sorry for the inconvenience, services will be recovered soon</h4>
                </div>
                <img src="../../../assets/img/empire/oopsError.jpg" class="card-img-top img-circle img-fluid" alt="Ooops Error">
            </div>
        </div>
    </div>
</div>