<nav class="navbar navbar-expand-md  navbar-inverse navbar-dark bg-dark fixed-top">

    <a class="navbar-brand" routerLink="home">
        <i class="fab fa-galactic-republic mr-2"></i>
        <span>provided by the Empire</span>
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- NAVBAR ITEMS -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <!-- <a class="nav-link" routerLink="">MGLT calculator</a> -->
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- (key)="searchStarships(searchStarship.value)" -->
            <input class="form-control mr-sm-2" #searchStarship type="number" placeholder="Input a distance in MGLT" min="1" aria-label="Search">
            <button class="btn btn-sm btn-outline-light ml-2" type="button" (click)="searchStarships(searchStarship.value)">search</button>
        </form>
    </div>
</nav>