<p>
    Mega Lights distance: {{distanceMGLT}} MGLT</p>

<div class="container animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card-columns animated fadeIn">
                <div *ngFor="let starship of _swService.starships" class="card">
                    <img src="../../../assets/img/starships/millennium-falcon.jpg" alt="" class="card-img-top img-circle img-fluid">
                    <div class="card-body">
                        <div aria-label="Basic example">
                            <!-- class="btn-group" role="group" -->
                            <button (click)="goToStarshipItem()" type="button" class="btn btn-primary btn-block">{{starship.name}}</button>
                        </div>
                        <h5 class="card-title">Total Stops needed: {{starship.stops}}</h5>
                        <!--<span *ngFor="let artist of exito.artists" class="badge badge-pill badge-primary">{{artist.name}}</span>-->
                        <p class="card-text">{{starship.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>