<div class="container animated fadeIn">
    <div class="row">
        <div class="col-12">
            <app-error *ngIf="_swService.error && !_swService.loading"></app-error>
        </div>
        <div class="col-12" *ngIf="!_swService.error">
            <app-pagination-buttons></app-pagination-buttons>
        </div>
        <div class="col-12">
            <app-loading *ngIf="_swService.loading"></app-loading>
        </div>
        <div class="col-12" *ngIf="!_swService.loading && !_swService.error">
            <h4 class="mb-2"> Mega Lights distance: {{distanceMGLT}} MGLT</h4>
            <div class="card-columns animated fadeIn">
                <div *ngFor="let starship of _swService.starships" class="card">
                    <img [src]="starship.name | noImage" alt="" class="card-img-top img-circle img-fluid">
                    <div class="card-body">
                        <h3>{{starship.name}}</h3>
                        <h5 class="card-title">{{starship.stops | countStops}}</h5>
                        <hr class="bg-dark">
                        <p class="card-text"><strong>Model: </strong> {{starship.model}}</p>
                        <p class="card-text"><strong>Manufacter: </strong>{{starship.manufacturer}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>