<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Welcome to the MGLT Calculator.</h2>
            <p>The empire has collected a huge DataBase of all starships. With this calculator you can set a distance in <strong>Megalights (MGLT)</strong>, and see how many stops needs each starship to resupply before reaching the distance selected. </p>
        </div>
        <div class="col-12">
            <figure class="figure d-flex flex-column">
                <img class="figure-img img-fluid rounded" src="assets/img/empire/empire-needs-you.jpg" alt="First slide">
            </figure>
        </div>
    </div>
</div>